*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    overflow-x:clip; 
}

body{
    background-image: url("./../images/font.jpg");
    background-repeat: no-repeat;
    background-size: cover cover;
    filter: brightness(0.8);
}

.titre{
    max-width: 60%;
    margin: 2% auto;
    text-align: center;
    padding: 1em ;
    color: white;
    border: 0.2em solid rgb(255, 255, 255);
    font-size: 100%;
    font-weight: bold;
    filter: brightness(1);
}


.contenaire{
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    justify-content: center;
    width: 60%;
    min-height: 16em;
    margin: 0.738em auto;
    grid-template-columns: repeat(auto-fill, 6.25em);
    grid-gap:1.5em;
    padding: 1em;
    filter: brightness(1);
}


.inner-de{
    height: auto;
    background-color: white;
    width: 100%;
    height: 30%;
    margin: 1% 1%;
    border: 0.4em solid rgb(255, 255, 255);
    border-radius: 1.2em;
    filter: brightness(1);
}

img{
    width: 100%;
    height: 100%;
    border-radius: 2%;
    background-size: cover cover;
    cursor: pointer;
    filter: brightness(1);
}

.number{
    border: 0.1em solid rgb(255, 0, 0);
    background-image: url("./../images/AUT-583875-2.webp");
    background-size: cover;
    width: 1em;
    text-align: center;
    margin: 30% auto;
    color: rgb(255, 255, 255);
    font-size: 2.5em;
    font-weight: bold;
    border-radius: 7em;
    cursor: pointer;
    filter: brightness(1);
    box-sizing: border-box;
    box-shadow: 7px 1px 1px red;
}

#number-1{
    background-image: url("./../images/tout.png");
    background-size: cover;
    filter: brightness(1);
}

#number-2{
    background-image: url("./../images/tout.png");
    background-size: cover;
    filter: brightness(1);
}

#number-3{
    background-image: url("./../images/tout.png");
    background-size: cover;
    filter: brightness(1);
}

#number-4{
    background-image: url("./../images/tout.png");
    background-size: cover;
    filter: brightness(1);
}

#number-5{
    background-image: url("./../images/tout.png");
    background-size: cover;
    filter: brightness(1);
}

#number-6{
    background-image: url("./../images/tout.png");
    background-size: cover;
    filter: brightness(1);
}

.ajout{
    background-color: rgba(92, 85, 85, 0.781);
    color: white;
    width: 15%;
    margin: 1% auto;
    text-align: center;
    padding: .3% 1%;
    font-size: 1%;
    font-weight: bold;
    cursor: pointer;
    border-radius: 1%;
    filter: brightness(1)
}

.ajout:hover{
    background-color: rgb(250, 6, 128);
    color: rgb(0, 0, 0);
    width: 15%;
    margin: 1% auto;
    text-align: center;
    padding: 0.3% 1%;
    font-size: 1%;
    font-weight: bold;
    cursor: pointer;
    border-radius: 1%;
    filter: brightness(1);
}

.score{
    background-color: rgb(255, 255, 255);
    width: 7%;
    margin: 1% auto;
    padding: .50% 5%;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    border-radius: 1em;
    filter: brightness(1);
}

#somme{
    position: relative;
    color: rgb(255, 0, 0);
    filter: brightness(1);
}

.nb{
    position: relative;
    top: -7em;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 20% auto;
    filter: brightness(1);
}

strong{
    color: rgb(255, 0, 0);
    filter: brightness(1);
}