
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    background-image: url("./../images/font.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    max-width: 100%;
    background-size: cover;
    filter: brightness(0.8);
}

.content{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}



.titre{
    max-width:30em;
    margin: 2% auto;
    text-align: center;
    padding: 1em ;
    color: white;
    border: 0.2em solid rgb(255, 255, 255);
    font-size: 100%;
    font-weight: bold;
    filter: brightness(1);
}


.contenaire{
    background-color: rgba(0, 0, 0, 0.5);
    max-width:40em;
    display: grid;
    justify-content: center;
    min-height: 10em;
    margin: 0.738em auto;
    grid-template-columns: repeat(auto-fill, 4.25em);
    grid-gap:2em;
    padding: 1em;
    filter: brightness(1);
}


.inner-de{
    height: auto;
    background-color: white;
    width: 4.25em;
    height: 4.25em;
    border: 0.4em solid rgb(255, 255, 255);
    border-radius: 1.2em;
    filter: brightness(1);
}


img{
    width: 4.25em;
    height: 4.25em;
    border-radius: 2%;
    background-size: cover cover;
    cursor: pointer;
    filter: brightness(1);
}

.number{
    background-image: url("./../images/tout.png");
    background-size: cover;
    width: 1em;
    text-align: center;
    margin: 30% auto;
    color: rgb(255, 255, 255);
    font-size: 2.5em;
    font-weight: bold;
    border-radius: 7em;
    cursor: pointer;
    filter: brightness(1);
    box-sizing: border-box;
    box-shadow: 7px 1px 1px red;
}

.ajout{
    background-color: rgb(49, 47, 47);
    color: white;
    width: 15%;
    margin: 1% auto;
    text-align: center;
    padding: .3% 1%;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    filter: brightness(1)
}

.ajout:hover{
    background-color: rgb(250, 6, 128);
    color: rgb(0, 0, 0);
    width: 15%;
    margin: 1% auto;
    text-align: center;
    padding: .3% 1%;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    filter: brightness(1)
}

.score{
    background-color: rgb(255, 255, 255);
    width: 7%;
    margin: 1% auto;
    padding: .50% 5%;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    border-radius: 1em;
    filter: brightness(1);
}

#somme{
    color: rgb(255, 0, 0);
    filter: brightness(1);
}

.nb{
    background-color: rgba(0, 0, 0, 0.582);
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 3% auto;
    filter: brightness(1);
}

strong{
    color: rgb(255, 0, 0);
    filter: brightness(1);
}

@media only screen and (max-width:599px){
    .contenaire{
        max-width:80%;
        display: grid;
        min-height: 7em;
        margin: 0.738em auto;
        grid-template-columns: repeat(auto-fill, 3.25em);
        grid-gap:1em;
        padding: 1em;
    }

    .inner-de{
    height: auto;
    width: 3.25em;
    height: 3.25em;
    border-radius: 1.2em;
}

    img{
    width: 3.25em;
    height: 3.25em;
    border-radius: 2%;
}

.number{
    width: 1em;
    margin: 30% auto;
    font-size: 1.5em;
    font-weight: 200;
    border-radius: 7em;
}

.ajout{
    width: 24%;
    margin: 1% auto;
    padding: .2em;
    font-weight: bold;
    border-radius: 10px;
}

.ajout:hover{
    width: 24%;
    margin: 1em auto;
    padding: .2em;
    font-weight: bold;
    border-radius: 10px;
}

.score{
    width: 15%;
    margin: 1em auto;
    padding: .2em;
    font-weight: bold;
    border-radius: 1em;
}
}


@media only screen and (max-width:489px){
    .contenaire{
        max-width:80%;
        height: auto;
        display: grid;
        min-height: 5em;
        margin: 0.738em auto;
        grid-template-columns: repeat(auto-fill, 2.25em);
        grid-gap:1em;
        padding: 1em;
    }

    .inner-de{
    height: auto;
    width: 2.25em;
    height: 2.25em;
    border: 0.4em solid rgb(255, 255, 255);
    border-radius: 1.2em;
}

 

    img{
    width: 2.25em;
    height: 2.25em;
    border-radius: 2%;
}

.number{
    width: 1em;
    margin: 30% auto;
    font-size: 1em;
    font-weight: 200;
    border-radius: 7em;
}


.ajout{
    width: 24%;
    margin: 1% auto;
    padding: .2em;
    font-weight: bold;
    border-radius: 10px;
}

.ajout:hover{
    width: 24%;
    margin: 1em auto;
    padding: .2em;
    font-weight: bold;
    border-radius: 10px;
}

.score{
    width: 15%;
    margin: 1em auto;
    padding: .2em;
    font-weight: bold;
    border-radius: 1em;
}
}

@media only screen and (max-width:370px){
    .contenaire{
        max-width:60%;
        display: grid;
        min-height: 3em;
        margin: 0.738em auto;
        grid-template-columns: repeat(auto-fill, 1em);
        grid-gap:1em;
        padding: 1em;
    }

    .inner-de{
    height: auto;
    width: 1em;
    height: 1em;
    border: 0.4em solid rgb(255, 255, 255);
    border-radius: 1.2em;
}

    img{
    width: 1em;
    height: 1em;
    border-radius: 2%;
}

.number{
    width: 1em;
    margin: 30% auto;
    font-weight: bold;
    border-radius: 7em;
}

.ajout{
    width: 24%;
    margin: 1% auto;
    padding: .2em;
    font-weight: bold;
    border-radius: 10px;
}

.ajout:hover{
    width: 24%;
    margin: 1em auto;
    padding: .2em;
    font-weight: bold;
    border-radius: 10px;
}

.score{
    width: 15%;
    margin: 1em auto;
    padding: .2em;
    font-weight: bold;
    border-radius: 1em;
}
}


@media only screen and (max-width:293px){
    .contenaire{
        max-width:100%;
        min-height: 3em;
        margin: 0.738em auto;
        grid-template-columns: repeat(auto-fill, 1em);
        grid-gap:1em;
        padding: 1em;
    }

    .inner-de{
    height: auto;
    width: 1em;
    height: 1em;
    border-radius: 1.2em;
}

    img{
    width: 1em;
    height: 1em;
    border-radius: 2%;
}

.number{
    width: 1em;
    margin: 30% auto;
    border-radius: 7em;
}

.ajout{
    width: 24%;
    margin: 1% auto;
    padding: .2em;
    font-weight: bold;
    border-radius: 10px;
}

.ajout:hover{
    width: 30%;
    margin: 1em auto;
    padding: .2em;
    border-radius: 10px;
}

.score{
    width: 30%;
    margin: 1em auto;
    padding: 0.2em;
    border-radius: 1em;
}
}